element.style {
}
._ar44 ._ar45 {
    overflow-y: visible !important;
}
._ar45 {
    background: rgb(var(--ig-primary-background));
    color: rgb(var(--ig-primary-text));
    font-family: var(--font-family-system);
    font-size: var(--system-14-font-size);
    line-height: var(--system-14-line-height);
    margin: 0;
}
._ar44, ._ar45 {
    height: 100%;
}
body {
    overflow-y: scroll;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
:root {
    --x1dodnpi: #f4f4f4;
    --xkr7jg8: #fff;
    --x1izr7lo: #d9fdd3;
    --x6nt2sa: rgba(194, 189, 184, .15);
    --x1dhrb1x: #efe9e0;
    --x17emkuz: #fff;
    --xw2w02g: rgba(0, 0, 0, .2);
    --xu3owp6: #bdbdbd;
}
:root {
    --xez4hp5: #1c2b33;
}
:root {
    --x5rs0e5: #0a1014;
    --xcmwmc4: #20272b;
    --x1th0f3r: #144d37;
    --xdlba4p: rgba(17, 27, 33, .2);
    --x1ny6skj: #0a1014;
    --x1rmap8s: #20272b;
    --xamcbhg: #21c063;
    --x1fn4p78: #0a1014;
    --xfls942: rgba(255, 255, 255, .3);
    --x1l9roa6: #a791ff;
    --xyeapbb: #20272b;
    --x29xchp: #3e474d;
    --xpkxt7q: #53bdeb;
}
:root {
    --x90zj3k: 1.75rem;
    --x1ey31mb: 0rem;
    --xpp0t0: 1.2143;
    --xffe7hg: 700;
    --x19tbt77: Optimistic Display Bold;
    --x1dz1usv: 100%;
    --x2xfn1f: ;
    --x8zvkh2: ;
    --x5cyege: ;
    --x24ev4u: ;
    --xefwwst: ;
    --xwjdv6j: ;
    --xunf0v8: ;
    --xujnxm0: ;
    --x11063mk: ;
    --x1pj8n93: ;
    --x1krgz4f: ;
    --xkhmk10: ;
    --x1g6wi5r: ;
    --x6v5s27: ;
    --x1atnhr1: ;
    --x19gksrq: ;
    --x1aw8q5o: ;
    --xj7nnbg: ;
    --x1ytqakv: ;
    --x1q7utds: ;
    --x1lta7rf: ;
    --x1lpidcp: ;
    --x1i80249: ;
}
:root {
    --x1txeeyc: #0a1014;
    --x6e525v: #242626;
    --x1mf01g3: #144d37;
    --x1tmse88: rgba(17, 27, 33, .2);
    --xuji152: #131414;
    --x1dzpkwf: #0a0a0a;
    --x189klgc: rgba(255, 255, 255, .1);
    --xhp1vyb: rgba(255, 255, 255, .1);
    --x1kpbo2m: #3e474d;
    --xzsc5bc: #424445;
}
:root {
    --xzhcxmt: #fff;
    --xfo7sr8: #fff;
    --x1ncx2h4: #d9fdd3;
    --x12ht13k: rgba(194, 189, 184, .15);
    --x1ohco26: #efe9e0;
    --x77ddco: #fff;
    --xhckjy1: #1daa61;
    --xoq7kpr: #fff;
    --x3x7tyz: rgba(17, 27, 33, .1);
    --xo5r61n: #b3b9bd;
    --x1s6xkc7: #5e47de;
    --xso0e35: #007bfc;
}
._ar44 {
    -webkit-text-size-adjust: 100%;
}
._aa4c {
    --barcelona-logo: 0, 0, 0;
    --barcelona-primary-button: 0, 0, 0;
    --barcelona-secondary-text: 153, 153, 153;
    --base-unit: 4px;
    --blue-0: 245, 251, 255;
    --blue-1: 224, 241, 255;
    --blue-2: 179, 219, 255;
    --blue-3: 112, 188, 255;
    --blue-4: 71, 175, 255;
    --blue-5: 0, 149, 246;
    --blue-6: 0, 116, 204;
    --blue-7: 0, 87, 163;
    --blue-8: 0, 55, 107;
    --blue-9: 0, 41, 82;
    --challenge-link: 54, 54, 54;
    --creation-header-height: 43px;
    --creation-min-padding-x: 32px;
    --creation-modal-max-height: 898px;
    --creation-modal-min-height: 391px;
    --creation-padding-x: 64px;
    --creation-padding-y: 112px;
    --creation-settings-width: 340px;
    --cyan-5: 39, 196, 245;
    --desktop-grid-item-margin: 28px;
    --desktop-grid-item-margin-slim: 4px;
    --desktop-in-feed-story-item-height: 208px;
    --desktop-in-feed-story-item-width: 116px;
    --direct-attachment-image-grid-item-size: 78px;
    --direct-attachment-story-height: 150px;
    --direct-attachment-story-large-height: 256px;
    --direct-attachment-story-large-width: 164px;
    --direct-attachment-story-width: 84px;
    --direct-message-max-width: 236px;
    --fb-signup-page-profile-pic-size: 88px;
    --feed-sidebar-padding: 32px;
    --feed-sidebar-padding-familiar: 64px;
    --feed-sidebar-width: 319px;
    --font-family-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    --font-family-system-prism: 'Instagram Sans UI', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    --font-weight-system-bold: 700;
    --font-weight-system-extra-bold: 800;
    --font-weight-system-extra-light: 200;
    --font-weight-system-light: 300;
    --font-weight-system-medium: 500;
    --font-weight-system-regular: 400;
    --font-weight-system-semibold: 600;
    --gradient-lavender: 211, 0, 197;
    --gradient-orange: 255, 122, 0;
    --gradient-pink: 255, 1, 105;
    --gradient-purple: 118, 56, 250;
Show all properties (156 more)
}
:root, .__ig-light-mode:root, .__ig-light-mode {
    --fds-black: #000000;
    --fds-black-alpha-05: rgba(0, 0, 0, 0.05);
    --fds-black-alpha-10: rgba(0, 0, 0, 0.1);
    --fds-black-alpha-15: rgba(0, 0, 0, 0.15);
    --fds-black-alpha-20: rgba(0, 0, 0, 0.2);
    --fds-black-alpha-30: rgba(0, 0, 0, 0.3);
    --fds-black-alpha-40: rgba(0, 0, 0, 0.4);
    --fds-black-alpha-50: rgba(0, 0, 0, 0.5);
    --fds-black-alpha-60: rgba(0, 0, 0, 0.6);
    --fds-black-alpha-80: rgba(0, 0, 0, 0.8);
    --fds-blue-05: #ECF3FF;
    --fds-blue-30: #AAC9FF;
    --fds-blue-40: #77A7FF;
    --fds-blue-60: #1877F2;
    --fds-blue-70: #2851A3;
    --fds-blue-80: #1D3C78;
    --fds-button-text: #444950;
    --fds-comment-background: #F2F3F5;
    --fds-dark-mode-gray-35: #CCCCCC;
    --fds-dark-mode-gray-50: #828282;
    --fds-dark-mode-gray-70: #4A4A4A;
    --fds-dark-mode-gray-80: #373737;
    --fds-dark-mode-gray-90: #282828;
    --fds-dark-mode-gray-100: #1C1C1C;
    --fds-gray-00: #F5F6F7;
    --fds-gray-05: #F2F3F5;
    --fds-gray-10: #EBEDF0;
    --fds-gray-20: #DADDE1;
    --fds-gray-25: #CCD0D5;
    --fds-gray-30: #BEC3C9;
    --fds-gray-45: #8D949E;
    --fds-gray-70: #606770;
    --fds-gray-80: #444950;
    --fds-gray-90: #303338;
    --fds-gray-100: #1C1E21;
    --fds-green-55: #00A400;
    --fds-green-65: #51CE70;
    --fds-highlight: #3578E5;
    --fds-highlight-cell-background: #ECF3FF;
    --fds-primary-icon: #1C1E21;
    --fds-primary-text: #1C1E21;
    --fds-red-55: #FA383E;
    --fds-soft: cubic-bezier(.08,.52,.52,1);
    --fds-spectrum-aluminum-tint-70: #E4F0F6;
    --fds-spectrum-blue-gray-tint-70: #CFD1D5;
    --fds-spectrum-cherry: #F35369;
    --fds-spectrum-cherry-tint-70: #FBCCD2;
    --fds-spectrum-grape-tint-70: #DDD5F0;
    --fds-spectrum-grape-tint-90: #F4F1FA;
    --fds-spectrum-lemon-dark-1: #F5C33B;
Show all properties (724 more)
}