.fixed{
    border: dashed;
    position: fixed;
    top: 200px;
    background-color: red;
}
.absolute{
    border: dashed;
    position: fixed;
    top: 400px;
    background-color: red;
}
.relative{
    border: dashed;
    position: fixed;
    top: 400px;
    background-color: red;
}